<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.BuildIdMapper">
    <select id="selectByOldBuildId" resultType="com.bean.BuildId">
      select * from INTEGRATION.build_id where oid = #{BuildIdOldId};
    </select>
    <insert id="addBuildId" parameterType="map">
        insert INTO INTEGRATION.build_id (id, oid,name,buildName)
         VALUE (#{id},#{oid},#{name},#{buildName});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.build_id.id) from INTEGRATION.build_id;
    </select>
</mapper>
