<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.ContractBusinessPoolIdMapper">
    <select id="selectByOldId" resultType="com.bean.ContractBusinessPoolId">
      select * from INTEGRATION.contracBusinessPoolId where oid = #{HouseOldId};
    </select>
    <insert id="addId" parameterType="map">
        insert INTO INTEGRATION.contracBusinessPoolId (id, oid)
         VALUE (#{id},#{oid});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.contracBusinessPoolId.id) from INTEGRATION.contracBusinessPoolId;
    </select>
</mapper>
