<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.FidCompareMapper">

    <!--
        id:在当前文件唯一
        resultType:表示返回的数据类型（java类型）
    -->
    <select id="selectOne" resultType="com.bean.FidCompare">
        select * from INTEGRATION.FID_COMPARE where OLD_FID = #{oldId}
    </select>

    <insert id="addFidCompare" parameterType="com.bean.FidCompare">
        insert into INTEGRATION.FID_COMPARE (ID,OLD_FID) values
        (#{id},#{oldFid});
    </insert>

</mapper>
