<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.HouseRecordIdMapper">
    <select id="selectByOid" resultType="com.bean.HouseRecordId">
      select * from INTEGRATION.houseRecord_id where oid = #{oid};
    </select>
    <insert id="addHouseRecordId" parameterType="map">
        insert INTO INTEGRATION.houseRecord_id (id, oid)
         VALUE (#{id},#{oid});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.houseRecord_id.id) from INTEGRATION.houseRecord_id;
    </select>
</mapper>
