<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.OtherHouseTypeMapper">

    <!--
        id:在当前文件唯一
        resultType:表示返回的数据类型（java类型）
    -->
    <select id="selectByHouseId" resultType="com.bean.OtherHouseType">
        select * from INTEGRATION.other_house_type where houseId = #{houseId}
    </select>

    <insert id="addOtherHouseType" parameterType="map">
        insert into INTEGRATION.other_house_type (houseId,houseType) VALUE (#{houseId},#{houseType})
    </insert>

    <select id="findAll" resultType="com.bean.OtherHouseType">
        select * from INTEGRATION.other_house_type
    </select>
</mapper>
