<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.OwnerRecordHouseIdMapper">
    <select id="selectByOldId" resultType="com.bean.OwnerRecordHouseId">
      select * from INTEGRATION.ownerRecordHouseId where oid = #{OldId};
    </select>
    <insert id="addHouseId" parameterType="map">
        insert INTO INTEGRATION.ownerRecordHouseId (id, oid)
         VALUE (#{id},#{oid});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.ownerRecordHouseId.id) from INTEGRATION.ownerRecordHouseId;
    </select>
</mapper>
