<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.PowerOwnerIdMapper">
    <select id="selectByOldId" resultType="com.bean.PowerOwnerId">
      select * from INTEGRATION.powerOwnerId where oid = #{OldId};
    </select>
    <insert id="addPowerOwnerId" parameterType="map">
        insert INTO INTEGRATION.powerOwnerId (id, oid)
         VALUE (#{id},#{oid});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.powerOwnerId.id) from INTEGRATION.powerOwnerId;
    </select>
</mapper>
