<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命令空间 对应数据接口操作-->
<mapper namespace="com.mapper.ProjectIdMapper">
    <select id="selectByOldProjectId" resultType="com.bean.ProjectId">
      select * from INTEGRATION.project_Id where oid = #{projectOldId};
    </select>
    <insert id="addProjectId" parameterType="map">
        insert INTO INTEGRATION.project_Id (id, oid,name)
         VALUE (#{id},#{oid},#{name});
    </insert>
    <select id="findMaxId" resultType="Integer">
        select max(INTEGRATION.project_Id.id) from INTEGRATION.project_Id;
    </select>
</mapper>
